body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
  margin: 0;
  font-family: arial,sans-serif;
}
.calculator{
  background: #333;
  padding: 30px;
  border-radius: 10px;
  width:200px;
}
#display{
  width:100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 20px;
  padding: 5px;
  background: #eee;
  border: none;
  border-radius: 5px;
}
.button{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
button{
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #666;
  color:white;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
}
button:hover {
  background: #777;
}

.equals {
  grid-column: span 4;
  background: #f90;
}

.equals:hover {
  background: #fa0;
}